/tmp

/workloads/queue/bin
/workloads/retwis/bin
/workloads/**/bin

/experiments/**/docker-compose-generated.yml
/experiments/**/results
/experiments/**/machines.json

.vscode
.clang-format

run*.log
summary*.json
*.ipynb